@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>错误页面</title>
    <link href="~/Content/public/css/404.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="top">
            您要去的页面 找不到了 <a href="javascript:void(0);" onclick="javascript:history.back(-1);">请返回</a>
        </div>
    </div>
</body>
</html>

